{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ToDOList</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
          <a class="navbar-brand" href="/">TODO</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/tasks">Task</a>
              </li>
            </ul>
          </div>
        </div>
          /</nav>
      </nav>
      {% if success %}
      <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        <strong>Thank you!!</strong> Your response has been submitted successfully.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      <div class="container my-4"></div>
      <h2 class="text-center"> Welcome to ToDos list - Add a Task</h2>
      <br>
      <div class="container my-4">
        <form action="/" method="post">
          {% csrf_token %}
      <div class="form-group my-5">
            <label for="title">Task Title</label>
            <input type="text" class="form-control" name="title" id="title" aria-label="Username" placeholder="Enter the title here"
              aria-describedby="basic-addon1">
          </div>
          <div class="form-group mb-4">
            <label for="desc">Task Description</label>
            <textarea class="form-control" name="desc" id="desc" rows="8"> </textarea>
          </div>
          <br>
          <button type="submit" class="btn btn-primary me-3"> Submit </button> <button type="reset"
      class="btn btn-primary"> Reset </button>
        </form>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>
<footer style="font-size:medium;text-align:center;" class="bg-secondary text-light py-1 fixed-bottom"> Copyright &#169 2022 | All rights reserved 
</footer>